################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HMSYOGHDB/.vs/HMSYOGHDB/FileContentIndex
